* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    /* padding: 1em; */
    background-color: #000;
    color: #fff;
}

span {
    font-size: 1.5rem;
}

.wrapper {
    margin: 0 auto;
    max-width: 940px;
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 1em;
    list-style: none;

}

#hero {
    height: 600px;
    background-image: url(../images/hands-typing.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(70%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: 1rem;
}

h1 {
    max-width: 60%;
    background-color: rgb(0, 0, 0, 0.5);
    text-shadow: 2px 2px 2px black; 
    text-align: center;
    color: white;;
}

h2 {
    font-size: 3rem;
}

#about-me .wrapper {
   max-width: 940px; 
   display: flex;
   align-content: space-around;
}


.img-container {
    align-self: flex-end;
    max-block-size: 450px;
}

.text-container {
    align-self: center;
    max-block-size: 450px;
}

#services {
    max-width: 940px;
    background-color: #fafafa;
    padding: 1em;
    
}

#services h2 {
    max-width: 650px;
    margin: 0;
    padding: 1em;
    text-align: center;
}

.articles-container {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);

}

#services .wrapper h3 {
    margin-bottom: 0.5em;
    font-size: 1.5rem;
}

articles-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 0.5em 1em;
    
}

.articles-container a:link, .articles-container a:visited {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 0.5em 0.5em;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid cadetblue;
    margin-top: auto;
    max-width: fit-content;
}

.articles-container a:hover, .articles-container a:focus {
    color: #000;
    background-color: #fff;
}

#work {
    margin: 0;
    text-align: center;
}

#work h2












