* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    /* padding: 1em; */
    background-color: #000;
    color: #fff;
}

span {
    font-size: 1.5rem;
}

.wrapper {
    margin: 0 auto;
    max-width: 940px;
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 1em;
    list-style: none;

}

#hero {
    height: 600px;
    background-image: url(../images/hands-typing.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(70%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: 1rem;
}

h1 {
    max-width: 60%;
    background-color: rgb(0, 0, 0, 0.5);
    text-shadow: 2px 2px 2px white; 
    text-align: center;

}














